/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

/* BODY */
body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
}

/* TOP BAR */
.topbar{
    background:#2563eb;
    text-align:center;
    padding:8px;
    font-size:20px;
}

/* NAVBAR */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
}

.logo{
    font-size:22px;
    font-weight:bold;
}

nav a{
    text-decoration:none;
    color:white;
    margin-left:25px;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

/* HERO */
.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    max-width:600px;
    margin-bottom:30px;
}

/* BUTTON */
.btn{
    padding:12px 30px;
    border-radius:30px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    margin:10px;
    display:inline-block;
    transition:0.3s;
}

.btn:hover{
    background:#38bdf8;
}

/* SECTION */
.section{
    padding:80px 60px;
    text-align:center;
}

.section h2{
    margin-bottom:30px;
    font-size:35px;
}

/* CARDS */
.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.card{
    background:white;
    color:#111;
    width:300px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

/* CONTACT */
.contact-box{
    background:white;
    color:#111;
    padding:40px;
    border-radius:15px;
    width:400px;
    margin:auto;
}

input,textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:25px;
    background:#2563eb;
    color:white;
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#0f172a;
    margin-top:50px;
}

/* RESPONSIVE */
@media(max-width:768px){
    header{
        padding:20px;
    }
    nav a{
        margin-left:15px;
    }
    .cards{
        flex-direction:column;
        align-items:center;
    }
    .contact-box{
        width:90%;
    }
}
