*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{
background: linear-gradient(-45deg,#0f2027,#203a43,#2c5364,#000);
background-size:400% 400%;
animation:gradient 12s ease infinite;
color:white;
font-size:18px;
}

@keyframes gradient{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

header{
text-align:center;
padding:20px;
background:rgba(0,0,0,0.7);
}

.logo img{
width:120px;
}

.brand{
font-size:22px;
margin-top:10px;
font-weight:bold;
}

nav{
text-align:center;
background:rgba(0,0,0,0.8);
padding:12px;
}

nav a{
color:white;
margin:0 20px;
text-decoration:none;
font-weight:bold;
font-size:18px;
}

nav a:hover{
color:#00c6ff;
}

.section{
padding:60px 20px;
text-align:center;
}

.card{
background:rgba(255,255,255,0.1);
padding:25px;
margin:20px auto;
width:280px;
border-radius:10px;
font-size:17px;
}

button{
padding:12px 25px;
background:#00c6ff;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#0099cc;
}

/* FORM STYLE */

form{
max-width:400px;
margin:auto;
text-align:left;
}

input, textarea{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
font-size:16px;
}

textarea{
height:100px;
resize:none;
}

footer{
background:black;
text-align:center;
padding:15px;
margin-top:40px;
}
.about-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
gap:30px;
margin-top:30px;
}

.about-img{
width:200px;
height:200px;
object-fit:cover;
border-radius:50%;
border:4px solid #00c6ff;
}

.about-text{
max-width:400px;
font-size:18px;
}


